.map-container h3 {
    font-size: 1.25rem;
}
.map-checker label {
    display: block;
    margin: 0.5rem;
    cursor: pointer;
}
.map-layers {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
.map-item {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#map-labels {
    display: block;
}
.map-legend {
    margin: 0.5rem 0 1rem 0;
}
.legend-box {
    padding: 0 0.5rem 0.5rem 0.5rem;
    border: 0.0625rem solid #ccc;
    display: none;
}
.legend-box:first-child {
    margin-left: 0;
    display: block;
}
.legend-box dl {
    margin-bottom: 0;
}
.legend-icon img {
    margin-top: 0.5rem;
    width: 2rem;
    padding-right: 0.5rem;
}
.legend-def {
    width: 6rem;
    font-size: 0.875rem;
    line-height: 1.3;
    margin-top: 0.6rem;
    margin-bottom: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .map-layers {
        margin-left: 0;
        margin-right: 0;
    }
    .map-legend {
        width: 510px;
    }
    .legend-def {
        width: 12rem;
        font-size: 0.875rem;
        margin-top: 0.7rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .map-legend {
        width: 690px;
    }
    .legend-def {
        width: 6rem;
        font-size: 0.75rem;
        margin-top: 0.6rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .map-legend {
        width: 640px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .map-legend {
        width: 750px;
    }
    .legend-def {
        width: 8rem;
        font-size: 0.875rem;
        margin-top: 0.7rem;
    }
}