@media print {
    body { background-color: transparent; }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 1.875rem;
    }
    h4 {
        font-size: 1.625rem;
    }
    .lmh-header.container {
        max-width: 100%;
    }
    .lmh-header {
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
        margin-bottom: 0.25in;
    }
    .lmh-header {
        text-align: left !important;
    }
    .lmh-banner {
        display: flex !important;
    }
    .lmh-logo {
        padding: 0;
        /* border: 1px solid #f00; */
    }
    .lmh-logo img {
        width: 1.25in;
    }
    .lmh-name {
        margin-left: 0.25in;
    }
    .lmh-country {
        font-size: 2rem;
    }
    .lmh-dept {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }
    .contentbox {
        display: block !important;
    }
    main p, main li, main div, main table * { font-size: 1.5rem; }
    main a[href]:after {
        content: " (" attr(href) ")";
        font-style: italic;
        color: #666 !important;
    }
    .block-table_caption {
        background-color: transparent;
        color: #3399cc;
        padding: 0.5rem;
        text-align: center;
        font-weight: 700;
        border: 1px solid #ccc;
    }
    .block-table thead {
        background-color: transparent;
        color: #3399cc;
    }
    .block-table thead th {
        color: #3399cc;
    }
    .richtext-image {
        display: block;
        width: auto;
        height: auto;
    }
    .table-responsive {
        width: auto;
        page-break-inside: avoid;
    }
    .block-table table * {
        font-size: 1.25rem;
        width: auto;
    }
    .block-table table th,
    .block-table table td {
        padding: 0.25rem;
    }
    .richtext-image.right {
        float: right;
        margin-left: 1rem;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}
