{% load wagtailimages_tags %}

{% image self.image_file scale-100 as tmp_img %}

<figure>
    <img
        src="{{ tmp_img.url }}"
        class="img-fluid"
        alt="{{ tmp_img.alt }}"
    />
    {% if self.caption or self.attribution %}
    <figcaption>
        {% if self.caption_block %}
            {{ self.caption_block }}
        {% endif %}
        {% if self.caption %}
            {{ self.caption|safe }}
        {% endif %}
        {% if self.attribution %}
            {{ self.attribution }}
        {% endif %}
    </figcaption>
    {% endif %}
</figure>
