{% load compress %}
<!doctype html>
<html lang="en">
  <head>

    <title>Sign in to Lanretam</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-4.3.1/css/bootstrap.min.css">

    <!-- CSS for cookie policy -->
    <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
    <!-- Project CSS -->
    {% compress css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/print.css">
    {% block css %}{% endblock %}
    {% endcompress %}
    <meta name="theme-color" content="#d4e3fc">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/fontawesome-5.7.2/css/all.css">

    <!-- CSS for cookie policy -->

    <!-- Favicon -->
    {% include "main/includes/favicon.html" %}
    <!-- Open Graph -->
    <meta property="og:title" content="The Republic of Lanretam Ministry of Health" />
    <meta property="og:site_name" content="Lanretam" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{STATIC_URL}}img/lanretam-og.png" />
    <meta property="og:image:alt" content="Logo of the Lanretam project" />
    <meta property="og:description" content="A project by the Averting Maternal Death and Disability Program (AMDD) at the Heilbrunn Department of Population and Family Health at the Mailman School of Public Health, Columbia University." />
    <meta property="og:url" content="https://lanretam.ctl.columbia.edu" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@AMDD_Program" />
    <meta name="twitter:title" content="Lanretam" />
    <meta name="twitter:description" content='A project by the Averting Maternal Death and Disability Program (AMDD) at the Heilbrunn Department of Population and Family Health at the Mailman School of Public Health, Columbia University.' />
    <meta name="twitter:image" content="{{STATIC_URL}}img/lanretam-og.png" />
    <meta name="twitter:image:alt" content="Logo of the Lanretam project" />

    <script src="{{STATIC_URL}}js/lib/jquery-3.2.1.min.js"></script>

  </head>
<body class="login-page">

    <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>    
    <main class="container" aria-labelledby="lmh-signin">
    
        <div class="lmh-banner d-md-flex justify-content-center">
            <div class="lmh-logo">
                <img src="{{STATIC_URL}}img/logo-lanretam.png" alt="The Republic of Lanretam Ministry of Health banner" />
            </div>
            <div class="lmh-name" aria-hidden="true">
                <div class="lmh-country" aria-hidden="true"><span class="line-republic">The Republic of</span>
                <span class="line-lanretam">Lanretam</span></div>
                <div class="lmh-dept" aria-hidden="true">Ministry of Health</div>
            </div>
        </div><!-- /.lmh-banner -->

        
        <form action="{{ action_url }}" method="POST" class="lmh-login">
        <fieldset>
        <legend id="lmh-signin">Sign in to Lanretam</legend>
                    {% csrf_token %}

                    {{ form.non_field_errors }}
                    <div>
                        <!-- Error begin -->{{ form.password.errors }}<!-- Error end -->
                    </div>

            <div class="form-group lmh-form-group">
                <label for="id_password">Password:</label>
                <div class="lmh-password d-flex">
                <i class="fas fa-key" aria-hidden="true"></i>
                <input type="password" class="form-control" name="password" required id="id_password">
                </div>
            </div>
        <!-- begin field -->
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
        <!-- end field -->
            <input type="submit" class="btn btn-primary" value="Sign in">
        </fieldset>
        </form>

    </main>
   
    
    <footer class="container">
    <h2 class="sr-only">This is a project by</h2>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://www.mailman.columbia.edu/research/averting-maternal-death-and-disability-amdd"><img src="{{STATIC_URL}}img/logo-amdd-color.png" id="amdd-logo" alt="Averting Maternal Death and Disability at the Mailman School of Public Health at Columbia University" /></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://ctl.columbia.edu"><img src="{{STATIC_URL}}img/logo-ctl-color.svg" id="ctl-logo" alt="The Center for Teaching and Learning at Columbia University" /></a>
        </li>
    </ul>    
    </footer>

    {% if STAGING_ENV %}
    <div class="alert alert-danger alert-dismissable fade show fixed-bottom">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
        <h4>
            Warning: Staging Site
        </h4>
        <p>
            You are viewing a staging version of this site, not the production site.
            This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b>
        </p>
    </div>
    {% endif %}

    {% if not debug and GA_CODE %} 
    <!-- Google Analytics -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{GA_CODE}}', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    </script> 
    <!-- End Google Analytics -->
    {% endif %} 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{STATIC_URL}}css/bootstrap-4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
