{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}—Lanretam Ministry of Health</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Project CSS -->
    {% compress css %}
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
    {% endcompress %}
    {% block css %}{% endblock %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{STATIC_URL}}img/apple-touch-icon.png">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
    <link rel="icon" href="{{STATIC_URL}}img/favicon.ico">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">

	{% block feeds %}{% endblock %}
</head>
<body>

    <a id="skippy" class="sr-only sr-only-focusable" href="#maincontent">
        <div class="container">
            <span class="skiplink-text">Skip to main content</span>
        </div>
    </a>

    <header class="container px-0 bg-white">
        <div class="lmh-banner d-md-flex flex-row">
            <div class="row py-2 py-md-3 text-center text-sm-left">
                <div class="col-12 col-sm-3 lmh-logo">
                    <img src="{{STATIC_URL}}img/logo-lanretam.png" aria-hidden="true" />
                </div>
                <div class="col-12 col-sm-9 lmh-name pt-2 pt-lg-3 px-0">
                    <span class="sr-only">The Republic of Lanretam Ministry of Health</span>
                    <span class="lmh-country text-uppercase d-block p-0 m-0" aria-hidden="true">The Republic of Lanretam</span>
                    <span class="lmh-dept d-block" aria-hidden="true">Ministry of Health</span>
                </div>
            </div>
            <div class="lmh-slides d-none d-md-block ml-auto">
                <div id="lmh-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000" aria-hidden="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{{STATIC_URL}}img/banner02.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{STATIC_URL}}img/banner01.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{STATIC_URL}}img/banner03.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{STATIC_URL}}img/banner04.jpg" alt="Fourth slide">
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.lmh-banner -->
        <nav class="navbar gb-navbar navbar-expand py-0">
            <ul class="navbar-nav">
                <li class="nav-item active mr-sm-2"><a href="#" aria-label="Home" class="nav-link"><span class="d-none d-md-inline">Home</span><i class="fas fa-home fa-lg d-inline d-md-none"></i></a></li>
                <li class="nav-item mr-sm-2"><a href="#" aria-label="About Lanretam Ministry of Health" class="nav-link"><span class="d-none d-md-inline">About Lanretam</span> Ministry of Health</a></li>
                <li class="nav-item mr-sm-2"><a href="#" aria-label="Directorates" class="nav-link">Directorates</a></li>
                <li class="nav-item mr-sm-2"><a href="#" aria-label="Programmes" class="nav-link">Programmes</a></li>
            </ul>
        </nav>
    </header>

    <div class="container bg-white pt-0 pb-5 pt-lg-4">
        <div class="row">
            <div class="col-12 col-lg-3 text-center text-lg-left">
                <button class="d-lg-none btn btn-default" type="button" data-toggle="collapse" data-target="#section-sidebar-nav" aria-controls="section-sidebar-nav" aria-expanded="false" aria-label="Toggle section navigation">
                    Menu <i class="fas fa-bars"></i>
                </button>
                <ul class="collapse text-lg-right" id="section-sidebar-nav">
                    <li class="nav-item">
                    <a class="nav-link active" href="#">About the Lanretam Ministry of Health</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Health Statistics</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Lanretam Factsheet</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Lanretam Map</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div><!-- page sidebar navigation -->
            <main class="col-12 col-lg-9 h-100" role="main">
                <section id="maincontent">
                <h1>{% block pagetitle %}{% endblock %}</h1>
                <p>The quick brown fox jumps over the lazy dog.</p>
                {% block content %}{% endblock %}

                <div class="text-white text-center bg-secondary device-detector">
                <div class="d-none d-xl-block"><span class="h4">I am an extra large desktop</span><span class="display-1 d-block">XL</span></div>
                <div class="d-none d-lg-block d-xl-none"><span class="h4">I am a large desktop</span><span class="display-1 d-block">LG</span></div>
                <div class="d-none d-md-block d-lg-none"><span class="h4">I am a medium desktop, tablet</span><span class="display-1 d-block">MD</span></div>
                <div class="d-none d-sm-block d-md-none"><span class="h4">I am a small device</span><span class="display-1 d-block">SM</span></div>
                <div class="d-block d-sm-none"><span class="h4">I am an extra small device</span><span class="display-1 d-block">XS</span></div>
                </div>
                </section>
            </main><!-- page body -->
        </div><!-- page container -->
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{STATIC_URL}}js/lib/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script data-main="{{STATIC_URL}}js/src/main.js" src="{{STATIC_URL}}js/lib/require/require.js"></script>

{% if SENTRY_PUBLIC_DSN %}
    <script src="https://cdn.ravenjs.com/3.21.0/raven.min.js"></script>
    <script>
     Raven.config('{{ SENTRY_PUBLIC_DSN }}').install();

     {% if user.is_anonymous %}
     Raven.setUserContext({
         email: 'none',
         id: 'anonymous'
     });
     {% else %}
     Raven.setUserContext({
         email: '{{ user.email }}',
         id: '{{ user.username }}'
     });
     {% endif %}
    </script>
{% endif %}

{% block js %}{% endblock %}

{% if STAGING_ENV %}
<div class="alert alert-danger alert-dismissable" style="position: fixed; bottom: 0px;">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Warning: Staging Site</h4>
<p>You are viewing a staging version of this site, not the production site.</p>
<p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
</div>
{% endif %}

{% if request.user.is_impersonate %}
<div class="alert alert-danger alert-dismissable" style="position: fixed; left: 0px; top: 75px">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
You are impersonating.<br />
<a class="btn" href="{% url 'impersonate-stop' %}">stop</a>
</div>
{% endif %}

{% if GA_CODE %}
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{GA_CODE}}', 'columbia.edu');
  ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
