{% load compress %}
<!doctype html>
<html lang="en">
  <head>

    <title>Sign in to Lanretam Editor CMS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-4.3.1/css/bootstrap.min.css">

    <!-- Project CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/print.css">
    <meta name="theme-color" content="#d4e3fc">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/fontawesome-5.7.2/css/all.css">

    <!-- CSS for cookie policy -->

    <!-- Favicon -->
    {% include "main/includes/favicon.html" %}
    <!-- Open Graph not needed -->

    <!-- Twitter not needed -->

    <script src="{{STATIC_URL}}js/lib/jquery-3.2.1.min.js"></script>

  </head>
<body class="cms-login-page">

    <main class="container" aria-labelledby="lmh-signin">
    
        <div class="lmh-banner d-md-flex justify-content-center">
            <div class="lmh-logo">
                <img src="{{STATIC_URL}}img/logo-lanretam.png" alt="The Republic of Lanretam Ministry of Health banner" />
            </div>
            <div class="lmh-name" aria-hidden="true">
                <div class="lmh-country" aria-hidden="true"><span class="line-lanretam">The Republic of Lanretam</span></div>
                <div class="lmh-dept" aria-hidden="true">Ministry of Health</div>
            </div>
        </div><!-- /.lmh-banner -->

        
                    {% if CAS_BASE %}
                        <form method="get" action="{{ CAS_BASE }}cas/login">
                        {% csrf_token %}
                        <input type="hidden" name="destination" value="https://{{ request.get_host }}/accounts/caslogin/?next={{ request.get_full_path|urlencode }}" />
                        <h1 class="display-h4 mt-5 text-center">Lanretam Editor CMS</h1>
                        <div class="text-center mt-5"><input class="btn btn-primary btn-lg" type="submit" value="Please Log In" /></div>
                        </form>
                    {% endif %}

    </main>
   
    
    <footer class="container">
    <h2 class="sr-only">This is a project by</h2>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://www.mailman.columbia.edu/research/averting-maternal-death-and-disability-amdd"><img src="{{STATIC_URL}}img/logo-amdd-color.png" id="amdd-logo" alt="Averting Maternal Death and Disability at the Mailman School of Public Health at Columbia University" /></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://ctl.columbia.edu"><img src="{{STATIC_URL}}img/logo-ctl-color.svg" id="ctl-logo" alt="The Center for Teaching and Learning at Columbia University" /></a>
        </li>
    </ul>    
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{STATIC_URL}}css/bootstrap-4.3.1/js/bootstrap.min.js"></script>
</body>
</html>


