{% extends "login_base.html" %}
{% load staticfiles i18n %}
{% block title %}Log in{% endblock %}
{% block bodyclass %}login{% endblock %}


{% block content %}

        {% if messages or form.errors %}
            <div class="alert alert-success container d-none" role="alert">
                <ul>
                    {% if form.errors %}
                        <li class="error">{% blocktrans %}Your {{ username_field }} and password didn't match. Please try again.{% endblocktrans %}</li>
                    {% endif %}
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


                    {% if CAS_BASE %}
                        <form method="get" action="{{ CAS_BASE }}cas/login">
                        {% csrf_token %}
                        <input type="hidden" name="destination" value="https://{{ request.get_host }}/accounts/caslogin/?next={{ request.get_full_path|urlencode }}" />
                        <h1 class="display-h4 mt-5 text-center">CTL Editor</h1>
                        <div class="text-center mt-5"><input class="btn btn-primary btn-lg" type="submit" value="Please Log In" /></div>
                        </form>
                    {% endif %}


 {% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    $(function(){
        $('form input[name=username]').focus();
    })
</script>
{% endblock %}
