{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block segment_nav %}
<a href="#lmhSegmentNav" class="skippy focus-none sr-only sr-only-focusable" id="segmentjump">
    Skip to section navigation
</a>
{% endblock %}

{% block content %}
<main class="col-12 col-lg-9 order-2" id="maincontent" aria-labelledby="page-title">
<h1 id="page-title">{{ page.title }}</h1>
{{ page.body }}
</main>
<nav class="navbar navbar-expand-lg col-12 col-lg-3 d-print-none order-1" aria-label="Section" id="lmhSegmentNav">
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#lmhSegment" aria-controls="lmhSegment" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Section menu
    </button>
    <div class="collapse navbar-collapse" id="lmhSegment"> 
        <ul class="navbar-nav flex-column">
            {% with module=page.module %}
            <li class="nav-item{% if module.id == page.id %} active{% endif %}">
            <a class="nav-link" href="{{ module.url }}">{{ module.title }}</a>
            </li>
            {% endwith %}
            {% for item in page.sidemenu %}
            <li class="nav-item{% if item.id == page.id %} active{% endif %}">
            <a class="nav-link depth-{{ item.depth }}" href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<p class="d-none d-print-block font-weight-bold mt-5">Printed from: {{ page.full_url }}</p>

{% endblock %}